<div
     class="w-100 h-100">
  <div id="drag-image-placeholder"></div>
  <div #parentElementRef
       class="bg-body shadow-sm p-3 flex-start flex-column align-items-stretch w-100 h-100">
    <div [ngClass]="{'mb-3' : !collapsed }">
      <div class="flex-between">
        <a class="flex-start align-items-center">
          <div class="flex-start align-items-center clickable no-select">
            <div class="icon-6 text-dpsblue me-4">
              <i class="bi bi-bell-fill"></i>
            </div>
            <div class="flex-start align-items-end">
              <h5 class="me-2 text-dpsblue">Notifications</h5>
            </div>
          </div>
        </a>
        <div class="flex-start align-items-center">
        </div>
      </div>
    </div>
    @if (!collapsed) {
      <div class="flex-start flex-row minh-0">
        <div class="w-100 overflow-auto">
          @if (!collapsed) {
            <div>
            </div>
          }
          <div class="list-group list-group-flush"> Module Loaded. </div>
        </div>
      </div>
    }
  </div>
</div>
