<div [dpsModuleDraggable]="module"
     [moduleViewService]="dashboardViewService"
     class="w-100 h-100 position-relative">
  <div id="drag-image-placeholder"></div>
  <div class="flex-start flex-column flex-fill w-100 h-100">
    <div class="flex-start align-items-stretch">
      <div #scrollableArea class="position-relative flex-start align-items-stretch flex-grow-1 overflow-hidden">
        <div class="flex-between">
          <div class="flex-start animate-tabs">
            @for (item of Array(9).keys(); track $index) {
              <div class="flex-column dps-tab">
                Blah
              </div>
            }
          </div>
        </div>
      </div>
      <div class="flex-end align-items-end" [style.margin-left.px]="4">
      </div>
    </div>
    <div class="p-4 flex-start flex-column bg-body shadow-sm flex-fill overflow-auto position-relative">
      @if (!collapsed) {
        <div class="mb-3">
          HALLOO!
        </div>
      }
    </div>
  </div>
</div>
