<div class="max-container">
  @for (row of modules; track row) {
    @for (module of row; track module) {
      <div class="module-drop-zone position-absolute"
           [style.width.%]="module.data.width$.value"
           [style.height.%]="module.data.height$.value"
           [style.top.%]="module.data.top$.value"
           [style.left.%]="module.data.left$.value">
        <!--   Ngx adds dynamic component   -->
        @if (module.data.name === Constants.DASHBOARD_MODS.MESSAGES) {
        <dps-messages-mod [module]="module"/>
        }
        @if (module.data.name === Constants.DASHBOARD_MODS.QUERY_TASK) {
        <dps-query-task-mod [module]="module"/>
        }
        @if (module.data.name === Constants.DASHBOARD_MODS.NOTIFICATIONS) {
        <dps-notifications-mod [module]="module"/>
        }
<!--        <ng-container *ngComponentOutlet="module.data.component; inputs: { module: module }"/>-->
      </div>
    }
  }
</div>
