@import 'bootstrap/scss/mixins/transition';
@import 'src/variables';

.mod-tab-tab-sizing {
  min-height: 1.25rem;
  max-height: 1.25rem;
}

.mod-tab-inactive-notification {
  opacity: .6;
}

.mod-tab-tooltip-window > .tooltip-inner {
  max-width: 300px;
  text-align: left;
}

.mod-tab.clickable {
  &.apply-background {
    @include transition(background-color 0s);

    &.hover:not(.active-tab) {
      background: rgba(var(--bs-ebizteal-rgb), .12);
      @include transition($btn-transition);
      &.active {
        background: rgba(var(--bs-ebizteal-rgb), .25);
      }
    }

    &.active-tab {
      @include transition(background-color 0s);
    }

    &.mod-tab-underline {
      border-bottom: solid 3px rgba(0,0,0,0);
      @include transition(border-bottom .2s ease-in-out);
      &.active-tab {
        border-bottom: solid 3px var(--bs-dpsblue);
        @include transition(border-bottom .2s ease-in-out);
      }
    }
  }
}


