<div class="mod-tab"
     [ngClass]="{'bg-body shadow-sm' : state === 'active' && includeShadow, 'clickable' : !subText, 'apply-background': applyBackground,
     'mod-tab-underline': !includeShadow, 'active-tab' : state === 'active'}" dpsComponentState>
  <div class="px-4 py-2 no-select">
    <div class="flex-center align-items-center mod-tab-tab-sizing">
      @if (icon.length > 0) {
        <div class="me-2 icon-4" [class]="state === 'active' ? 'text-dpsblue' : 'text-dpsblue-550'">
            <i [class]="icon.substring(0, 2) + ' ' + icon"></i>
        </div>
      }
      <div [class]="'text-nowrap ' + titleStyle()" (cdkObserveContent)="observed('title', $event)">
          {{ title }}
      </div>
      @if (!subText && dismissible) {
        <div class="ms-1 me-n1">
          <div class="btn-pill-close btn-pill-close-subtle" (click)="onClose($event)"></div>
        </div>
      }
    </div>
  </div>
</div>
